# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
!subdir/
!wifi-dl-qualcomm-cir.cc
!scratch-simulator.cc
!wifi-dl-ofdma-agg.cc
!wifi-dl-ofdma-udp.cc
!wifi-pf-dl.cc
!wifi-dl-ofdma.cc
